@charset "UTF-8";

/* 주소 입력 */
label {
	padding: 10px;
}

#yourlocation {
	width: 300px !important;
	text-align: center;
}

#address {
	width: 400px !important;
}

.form-group {
	padding: 10px;
	margin-left: 30px;
}

/* 상품 정보 */
.fileImageLogo {
	width: 70px;
	height: 40px;
}

.fileImageProduct {
	width: 70px;
	height: 70px;
}

ul {
	list-style-type : none;
}

.p_price {
	text-decoration : line-through;
}

.align-center {
	text-align : center; 
}
tr {
	width: 520px;
	
}
td {	
	padding-left	: 7px;
	padding-right	: 7px; 
}

ul {
	padding	: 0px;
	margin	: 0px;
}

.jb-th-1 {
	width : 70px;
	padding : 10px 0px;
}
.jb-th-2 {
	width : 30px;
	bo
}

.item{
    position: relative;
    border: 1px solid #d9d9d9;
    background: #fff;
    padding : 0 5%;
    height: 108px;
    box-sizing: border-box;
}

.col-md-6 {
	width: 530px;
	padding: 5px;
}

.review_num:before {
  content: "|";
  color: #d9d9d9;
}

.contract{ 	
		margin: 7px;
}
h4{
	padding-top:20px;
	clear: both;
	font: bold;
	
}

.list-group-item {
	padding: 0 15px;
}

.sizeWith171 {
	width: 171px;
}
/* 마우스 손 생성 */
.list-group-item {
	cursor: pointer;
}