@charset "UTF-8";

.productInfo {
	margin: 15px;
}

.addTableSetting {
	width: 535px;
	height: 600px;
	margin: 10px;
	padding: 5px;
}

.addImageSetting {
	margin: 0 134px;
}

.addImage {
	width: 250px;
	height: 250px;
}

.sizeHight85 {
	height: 85px;
}
.sizeHight150 {
	height: 150px;
}
.sizeWidth395 {
	width: 395px;
}
.paddingTd35 {
	padding-top: 35px !important;
}

.paddingTd-content {
	padding-top: 10% !important;
}

.sizeHight133 {
	height: 133px;
}

.sizeHight87 {
	height: 87px;
}

.sizeHight235 {
	height: 235px;
}

.paddingTd55 {
	padding-top: 55px !important;
}

.paddingTd31 {
	padding-top: 31px !important;
}

.paddingTd86 {
	padding-top: 95px !important;
}
 
.sizeInput200 {
    width: 200px !important;
}

.sizeInput75 {	
    width: 75.97916599999999px !important;
}

.sizeInput55 {
    width: 55.979166px !important;
}


