@charset "UTF-8";

td div label {
	width: 80px;
	text-align: center;
}

.addInline-block{
	display: inline-block;
}

.addTextRight {
	text-align: right;
}

table, .addTextCenter th, .addTextCenter td, #addCenterSubmit, #submitForm tr{
	text-align: center;
}

.addSizeSubmit {
	width: 100px;
}

#addTableSizeB tr:first-child {
	height: 300px;
}

#addTableSizeB tr:last-child {
	height: 150px;
}


#addMarginCenter {
	margin: 0 405px;
}

#searchBtn {
	width: 50px;
	height: 40px;
}

#addTableSizeB {
	width: 513px;
	height: 673px;
	margin: 10px;
}

#addTableSizeC {
	width: 513px;
	height: 673px;
	margin: 10px;
}

#searchBtn {
	width: 76px;
}

#keyword {
	width: 250px;
	height: 40px;
}

#addTableSizeB td:first-child {
	width: 171px;
	margin: 0px;
	padding: 7%;
}
#addTableSizeB td:last-child {
	margin: 0px;
	padding: 7%;	
}

#addTableSizeC tbody tr td div{
	margin: 20px 0px;
}

.addSizeInput75 {
	width:  75px !important;
}

.input-group-addon {
    display:  inline;
}

