@charset "UTF-8";


	/*********** 게시판 입력 화면 **********/
/* 	#title{width:480px}		 */
/* 	#content{border:1px solid #2f2f2f; width:780px; height:200px;}	 */
/* 	.ul-{width:650px; padding-top:15px} */
/* 	.ul- li{float:left;margin-right:10px;font-family:dotum; text-align: left;list-style:none; margin: 5%; } */
/* 	.all{width: 1424px;margin: auto; text-align: center;height:1000px; } */
/* 	.middle_left{width: 25%; height : 300px; margin: 5%} */
/* 	.middle_light{width: 58%;height : 300px;  margin: 5%}   */
/* 	.middle{float:left;margin-right:10px;font-family:dotum;border: 1px solid black;} */
/* 	.h3-{text-align: left; } */
/* 	/* 			.center{border: 1px solid black;} */   */
/* 	.table-main tr td{text-align: left;} */
/* 	.table-main tr td-child(1){margin-left: 10px;} */
	
